.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
  /*Мне кажется, что по-хорошему тут требуется разделение на несколько модификаторов,
   но в 1-м ревью дали замечание за лишние классы, так что собрал всё в один.*/
