.khan__book-pic {
  width: 620px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left top;
  object-position: left top;
}
/*Свойства object-fit и object-position не поддерживаются IE, но мне посоветовали их использовать после прошлого код-ревью
